*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.avi
*.mp4

*.pyc
old/
mnist/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
backup/
.fuse*
*.weights
*.tar
*.gz
*.tar.gz
*.zip
# OS Generated #
.DS_Store*
ehthumbs.db
.directory
Icon?
Thumbs.db
*.swp
darknet
*.a
*.so
python/sompic.jpg
python/ultimofotogramaprocesado.jpg
python/ultimofotogramaprocesadoPLACAS.jpg
backup_OCR/
backup_PLACAS/
